page-login {
    .loginSubmit{
        .loginSubmit__register{
            a{
                display: inline-block;
                vertical-align: middle;
                margin-top: 0.6rem;
                font-size: 1.8rem;
            }
        }
    }
}
